Repository beyond-sw-camp/be06-3rd-4TREES-0909, pull requests merged in 2024-08, with the labels that each got.

#8 [Fix] 공구(대기) 상세 페이지 관련 수정
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/components/User/OrderPageComponent.vue
  FrontEnd/src/components/User/ProductDetailComponent.vue
Labels: FIX, FRONTEND

#14 [Fix] 공구(대기) 상세 조회 페이지 관련 수정
  FrontEnd/src/components/User/BidItemComponent.vue
  FrontEnd/src/components/User/GroupbuyDetailComponent.vue
  FrontEnd/src/components/User/OrderPageComponent.vue
Labels: BUG, FIX, FRONTEND

#2 [Fix] 업체 회원 입찰 조회시 선정 여부에 따라 routing안되던 현상 수정
  FrontEnd/src/components/Seller/SellerBidListComponent.vue
Labels: FRONTEND

#15 [Fix] 마이페이지 라우팅 방식 수정 (#9)
  FrontEnd/src/components/User/HeaderComponent.vue
  FrontEnd/src/components/User/UserMypageAsideComponent.vue
  FrontEnd/src/components/User/UserMypageLikesListComponent.vue
  FrontEnd/src/pages/User/UserMypage.vue
  FrontEnd/src/router/index.js
Labels: FIX, FRONTEND

#18 [Fix] 로그인여부 확인후 로그인페이지로 리다이렉션 시키도록 수정 (#16)
  FrontEnd/src/router/index.js
  FrontEnd/src/stores/useUserStore.js
Labels: FIX, FRONTEND

#25 [Fix] 헤더와 페이지 로고 변경 적용 (#24)
  FrontEnd/src/assets/images/market/logo_main.png
  FrontEnd/src/assets/images/market/logo_seller.png
  FrontEnd/src/assets/images/market/logo_user.png
  FrontEnd/src/assets/images/market/logo_user2.png
  FrontEnd/src/assets/images/market/logo_공동구매.png
  FrontEnd/src/components/Common/HeaderComponent.vue
  FrontEnd/src/components/Common/SignupComponent.vue
  FrontEnd/src/components/Seller/CompanyDetailComponent.vue
  FrontEnd/src/components/Seller/SellerHeaderComponent.vue
  FrontEnd/src/components/Seller/SellerProductListComponent.vue
  FrontEnd/src/components/User/HeaderComponent.vue
  FrontEnd/src/components/User/MainComponent.vue
  FrontEnd/src/pages/Common/LoginPage.vue
  FrontEnd/src/pages/Common/SignupPage.vue
Labels: FIX, FRONTEND

#29 [Fix] 회원가입 관련 수정
  FrontEnd/src/components/Common/SellerSignupComponent.vue
  FrontEnd/src/components/Common/SignupComponent.vue
  FrontEnd/src/components/Common/UserSignupComponent.vue
  FrontEnd/src/stores/useUserStore.js
Labels: BUG, FIX, FRONTEND

#31 [Fix] 충돌 해결 잘못해서 css 에러 수정
  FrontEnd/src/components/Common/SignupComponent.vue
Labels: FIX, FRONTEND

#36 [Fix] Seller 컴포넌트 버튼 색상 변경 (#33)
  FrontEnd/src/components/Seller/CompanyDetailComponent.vue
  FrontEnd/src/components/Seller/CompanyRegisterComponent.vue
  FrontEnd/src/components/Seller/SellerBidListComponent.vue
  FrontEnd/src/components/Seller/SellerCompanyModifyComponent.vue
  FrontEnd/src/components/Seller/SellerWaitGroupbuyListComponent.vue
Labels: BACKEND, FIX

#38 [Fix] User 컴포넌트 버튼 색상
  FrontEnd/src/components/User/GroupbuyRegisterComponent.vue
  FrontEnd/src/components/User/MyWaitGroupbuyListComponent.vue
  FrontEnd/src/components/User/UserMypageInfoDetailComponent.vue
Labels: FIX, FRONTEND

#32 [Feat] 로그아웃시 cookie에서 토큰 삭제
  FrontEnd/src/stores/useUserStore.js
Labels: FRONTEND

#42 [Fix] User 컴포넌트 버튼 색상 추가 수정 2
  FrontEnd/src/components/User/BidItemComponent.vue
  FrontEnd/src/components/User/HeaderComponent.vue
  FrontEnd/src/components/User/ProductDetailComponent.vue
  FrontEnd/src/components/User/css/주문페이지1.css
  FrontEnd/src/components/User/css/주문페이지2.css
Labels: FIX, FRONTEND

#43 [Fix] 마이페이지 커스텀 라디오버튼, 체크박스 기본으로 변경(#40)
  FrontEnd/public/index.html
  FrontEnd/src/components/User/UserMypageAddAddressComponent.vue
  FrontEnd/src/components/User/UserMypageManageAddressComponent.vue
Labels: FIX, FRONTEND

#45 [Fix] 업체 정보 수정- 텍스트 수정
  FrontEnd/src/components/Seller/SellerCompanyModifyComponent.vue
Labels: FIX, FRONTEND

#46 [Fix] 마이페이지 상단 메뉴 클릭시 특정 컴포넌트로 라우팅처리 (#44)
  FrontEnd/src/components/User/UserMypageInfoComponent.vue
Labels: FIX, FRONTEND

#48 [Fix] 마이페이지 css깨지는 부분들 수정 (#47)
  FrontEnd/src/components/User/UserMypageAsideComponent.vue
  FrontEnd/src/components/User/UserMypageCouponListComponent.vue
  FrontEnd/src/components/User/UserMypageInfoDetailComponent.vue
  FrontEnd/src/components/User/UserMypageInfoEditComponent.vue
  FrontEnd/src/components/User/UserMypageLikesListComponent.vue
Labels: FIX, FRONTEND

#50 [Feat] 상품 상세 페이지에서 관심 공구 등록, 취소 기능 (#35)
  FrontEnd/src/components/User/ProductDetailComponent.vue
  FrontEnd/src/stores/useGroupbuyStore.js
Labels: FRONTEND

#51 [Fix] 마이페이지 설명에 현재 구현된기능, 구현되지 않은기능에 대한 설명 추가 (#49)
  FrontEnd/src/components/User/UserMypageInfoDetailComponent.vue
Labels: FIX, FRONTEND

#52 [Feat] 업체 정보 조회 필드 수정, 업체 수정
  FrontEnd/src/components/Seller/CompanyDetailComponent.vue
Labels: FIX, FRONTEND

#53 [Fix] 상품 등록 버튼 수정
  FrontEnd/src/components/Seller/SellerProductRegisterComponent.vue
Labels: FIX, FRONTEND

#54 [Feat] App.vue 0909로고 기입
  FrontEnd/src/App.vue
Labels: FRONTEND

#55 [Fix] 입찰 등록 수정
  FrontEnd/src/pages/Seller/SellerBidModifyPage.vue
Labels: FIX, FRONTEND

#61 [Fix] 공통 footer 내용 수정 (#60)
  FrontEnd/package-lock.json
  FrontEnd/src/components/Common/FooterComponent.vue
Labels: FIX, FRONTEND

#57 [Fix] 유저 마이페이지 버튼 수정
  FrontEnd/src/components/User/UserMypageInfoEditComponent.vue
Labels: FIX

#63 [Fix] 마이페이지 관심공구목록 조회시 오류발생하던 내용 수정, Store이름 컨벤션에 맞게 정리 (#62)
  FrontEnd/public/index.html
  FrontEnd/src/components/User/UserMypageCouponListComponent.vue
  FrontEnd/src/components/User/UserMypageInfoComponent.vue
  FrontEnd/src/components/User/UserMypageInfoDetailComponent.vue
  FrontEnd/src/components/User/UserMypageInfoEditComponent.vue
  FrontEnd/src/components/User/UserMypageLikesListComponent.vue
  FrontEnd/src/components/User/UserMypageManageAddressComponent.vue
  FrontEnd/src/pages/User/UserMypage.vue
  FrontEnd/src/stores/groupbuyStore.js
  FrontEnd/src/stores/useGroupbuyStore.js
  FrontEnd/src/stores/useUserStore.js
  FrontEnd/src/stores/userBasicStore.js
Labels: FIX, FRONTEND

#56 [Feat] 페이징 처리 필요한 페이지 무한 스크롤 기능 추가
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/components/Seller/SellerBidListComponent.vue
  FrontEnd/src/components/Seller/SellerProductListComponent.vue
  FrontEnd/src/components/Seller/SellerWaitGroupbuyListComponent.vue
  FrontEnd/src/components/User/MainComponent.vue
  FrontEnd/src/components/User/SearchResultComponent.vue
  FrontEnd/src/stores/useGroupbuyStore.js
  FrontEnd/src/stores/useSellerStore.js
  FrontEnd/src/stores/useUserStore.js
Labels: FRONTEND

#67 [Fix] 관심 공구 리스트 컴포넌트에 userBasicStore 남아있던거 삭제
  FrontEnd/src/components/User/UserMypageLikesListComponent.vue
Labels: BUG, FIX, FRONTEND

#69 [Feat] 메인페이지에 로그인한 사용자가 업체회원일 경우 판매자센터 이동 링크 추가
  FrontEnd/src/components/User/HeaderComponent.vue
Labels: FRONTEND

#71 [Docs] Readme 파일 초안 작성 (#66)
  FrontEnd/README.md
Labels: DOCS

#72 [Docs] Readme 파일 초안 작성 (#66)
  .DS_Store
  README.md
Labels: DOCS

#74 [Docs] Readme파일 수정 (#73)
  README.md
Labels: DOCS

#75 [Fix] console에 출력되는 log코드 삭제 (#64)
  FrontEnd/src/components/Seller/CompanyRegisterComponent.vue
  FrontEnd/src/components/Seller/SellerCompanyModifyComponent.vue
  FrontEnd/src/components/User/MyWaitGroupbuyComponent.vue
  FrontEnd/src/stores/useUserStore.js
Labels: FIX, FRONTEND

#76 [Feat] 로그인 페이지 input태그에 엔터키 리스너로 로그인버튼 동작시키기 (#65)
  FrontEnd/package-lock.json
  FrontEnd/src/components/User/UserMypageManageAddressComponent.vue
  FrontEnd/src/pages/Common/LoginPage.vue
  FrontEnd/src/pages/Seller/SellerBidRegisterPage.vue
  FrontEnd/src/stores/useGroupbuyStore.js
  FrontEnd/src/stores/useSellerStore.js
  FrontEnd/src/stores/useUserStore.js
Labels: FRONTEND

#78 [Feat] 사이트 타이틀 변경 및 로고favicon 추가 (#77)
  FrontEnd/public/0909favicon.ico
  FrontEnd/public/index.html
Labels: FRONTEND

#80 [Fix] 로그인시 아이디 입력 input 태그에서도 엔터키 감지하도록 수정 (#79)
  FrontEnd/src/pages/Common/LoginPage.vue
Labels: FIX

#82 [Docs] Readme에 코드 컨벤션 URL변경 반영 (#81)
  README.md
Labels: DOCS

#88 [Fix] 우편번호 받아올 때 4자리일 경우 앞에 0붙여주도록 수정
  FrontEnd/src/components/Seller/CompanyDetailComponent.vue
  FrontEnd/src/components/Seller/SellerCompanyModifyComponent.vue
  FrontEnd/src/components/Seller/SellerMyPageComponent.vue
  FrontEnd/src/components/User/OrderPageComponent.vue
  FrontEnd/src/components/User/UserMypageInfoDetailComponent.vue
Labels: FIX, FRONTEND

#96 [Feat] 이메일 인증 페이지 추가 및 store에 백엔드 호출 url 환경변수로 설정 (#95)
  FrontEnd/src/components/Seller/CompanyDetailComponent.vue
  FrontEnd/src/components/Seller/SellerCompanyModifyComponent.vue
  FrontEnd/src/components/User/OrderPageComponent.vue
  FrontEnd/src/pages/Common/EmailVerifyPage.vue
  FrontEnd/src/router/index.js
  FrontEnd/src/stores/useBidStore.js
  FrontEnd/src/stores/useGroupbuyStore.js
  FrontEnd/src/stores/useOrderHistoryStore.js
  FrontEnd/src/stores/useOrderStore.js
  FrontEnd/src/stores/useSellerStore.js
  FrontEnd/src/stores/useUserStore.js
Labels: FRONTEND

#101 [Fix] 일반 회원가입 시 주소에 휴대폰 번호 들어가는 버그 수정 (#100)
  FrontEnd/src/components/Common/UserSignupComponent.vue
Labels: BUG, FIX, FRONTEND

#104 [Fix] 공구 상세 조회 api withCredentials 추가 (#103)
  FrontEnd/src/stores/useGroupbuyStore.js
Labels: FIX, FRONTEND

#106 [Feat] 주문내역 페이지에 메인으로 가는 링크 추가
  FrontEnd/src/pages/User/OrderHistoryPage.vue
Labels: FIX, FRONTEND

#109 마이페이지 수정, 상품 등록 수정
  FrontEnd/src/components/Seller/CompanyDetailComponent.vue
  FrontEnd/src/components/Seller/SellerProductListComponent.vue
  FrontEnd/src/components/User/UserMypageManageAddressComponent.vue
  FrontEnd/src/stores/useSellerStore.js
Labels: FIX
